@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: #f9fafe;
  --top-nav-background: #fff;
  --search-background: #f9fafc;
  --hamburger-menu: #5041bc;
  --selected-icon-bg: #eceaff;
  --selected-icon: #5041bc;
  --unselected-icon-bg: #f8f9fb;
  --unselected-icon: #3d4756;
  --table-inner-text: #797d8c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background: #f9fafe;
    --top-nav-background: #fff;
    --search-background: #f9fafc;
    --hamburger-menu: #5041bc;
    --selected-icon-bg: #eceaff;
    --selected-icon: #5041bc;
    --unselected-icon-bg: #f8f9fb;
    --unselected-icon: #3d4756;
    --table-inner-text: #797d8c;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
}
