@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: #f9fafe;
  --top-nav-background: #fff;
  --search-background: #f9fafc;
  --hamburger-menu: #5041bc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background: #f9fafe;
    --top-nav-background: #fff;
    --search-background: #f9fafc;
    --hamburger-menu: #5041bc;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
}
